[submodule "vendors/raylib"]
	path = vendors/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendors/googletest"]
	path = vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json.git
[submodule "vendors/boost/core"]
	path = vendors/boost/core
	url = https://github.com/boostorg/core.git
[submodule "vendors/boost/predef"]
	path = vendors/boost/predef
	url = https://github.com/boostorg/predef.git
[submodule "vendors/boost/scope"]
	path = vendors/boost/scope
	url = https://github.com/boostorg/scope.git
[submodule "vendors/boost/throw_exceptions"]
	path = vendors/boost/throw_exceptions
	url = https://github.com/boostorg/throw_exception.git
[submodule "vendors/boost/describe"]
	path = vendors/boost/describe
	url = https://github.com/boostorg/describe.git
[submodule "vendors/boost/atmoic"]
	path = vendors/boost/atmoic
	url = https://github.com/boostorg/atomic.git
[submodule "vendors/boost/mp11"]
	path = vendors/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "vendors/boost/preprocessor"]
	path = vendors/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "vendors/boost/winapi"]
	path = vendors/boost/winapi
	url = https://github.com/boostorg/winapi.git
[submodule "vendors/boost/concept_check"]
	path = vendors/boost/concept_check
	url = https://github.com/boostorg/concept_check.git
[submodule "vendors/boost/variant2"]
	path = vendors/boost/variant2
	url = https://github.com/boostorg/variant2.git
[submodule "vendors/boost/align"]
	path = vendors/boost/align
	url = https://github.com/boostorg/align.git
[submodule "vendors/boost/function_types"]
	path = vendors/boost/function_types
	url = https://github.com/boostorg/function_types.git
[submodule "vendors/boost/move"]
	path = vendors/boost/move
	url = https://github.com/boostorg/move.git
[submodule "vendors/boost/mpl"]
	path = vendors/boost/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "vendors/boost/fusion"]
	path = vendors/boost/fusion
	url = https://github.com/boostorg/fusion.git
[submodule "vendors/boost/tuple"]
	path = vendors/boost/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "vendors/boost/optional"]
	path = vendors/boost/optional
	url = https://github.com/boostorg/optional.git
